# Exercise 5

Using the files *transition_probabilities.csv* and *ovservation_likelihoods.csv*, compute the likelihood of POS tags for the following word sequence:

    I want to race

## Task 1

Load the given files and:

a) Write a function to calculate all possible tag sequences for the given word sentence.

In [35]:
import pandas as pd
import itertools
import operator

df_obs = pd.read_csv("observation_likelihoods.csv", ",", index_col=0)
df_obs = df_obs.rename(columns=lambda x : x.strip())

df_trans = pd.read_csv("transisition_probabilities.csv", ",", index_col=0)
df_trans = df_trans.rename(columns=lambda x : x.strip())
sentence = "I want to race"
display(df_trans)
display(df_obs)
def possible_tag_seq(probability_df_obs, sentence):
    return list(itertools.product(list(probability_df_obs.index), repeat=len(sentence.split())))

sequences = possible_tag_seq(df_obs, sentence)
print(len(sequences))

          VB       TO       NN     PPSS
<s>   0.0190  0.00430  0.04100  0.06700
VB    0.0038  0.03500  0.04700  0.00700
TO    0.8300  0.00000  0.00047  0.00000
NN    0.0040  0.01600  0.08700  0.00450
PPSS  0.2300  0.00079  0.00120  0.00014

         I      want    to     race
VB    0.00  0.009300  0.00  0.00012
TO    0.00  0.000000  0.99  0.00000
NN    0.00  0.000054  0.00  0.00057
PPSS  0.37  0.000000  0.00  0.00000

256

b) Write a function to select the most probable tag sequence.

In [37]:
def most_prob(observation, transition, sequences, sentence):
    dic = {}
    tokens = sentence.split()  
    for sequence in sequences:
        val = 1
        for i in range(0, len(sequence)):
            if i == 0:
                val = val * observation.at[sequence[i], tokens[i]] * transition.at['<s>', sequence[i]]
            else:
                val = val * observation.at[sequence[i], tokens[i]] * transition.at[sequence[i-1], sequence[i]]
        dic[sequence] = val
    return max(dic.items(), key=operator.itemgetter(1))

print(most_prob(df_obs, df_trans, sequences, sentence))

(('PPSS', 'VB', 'TO', 'VB'), 1.8299949392339997e-10)

c) Discuss your solution.

The function possible_tag_seq recieves a sentence and a data farme with all possible tags and their probabilities. As the probabilites are not relevant for the task, the function calculates the number of tokens in the sentence by using the split funciton and counting (this only works if the resulting tokens match those of the file). The function then takes all possible POS-Tag  retrieved from the DataFrame and using Itertools calcualtes all possible permutaitons of these POS-Tags with a length equal to the number of tokens by calculating the Cartesian Product.

The function most_prob recieves two DataFrames, one cotaining the observation probabilites and the other containing the transformation possilities, as well as a list of all possible POS-Tag sequences and the given sentence. Using this information, the function iterates over all sequences in the passed list and calculates the probability of each on and saves it in a dicitonary. The probablity is calculated by multiplying the observation probabilites of the word with the transformation porbabilities. The function then returns the element in the dicitonary with the highes probability.

## Task 2

Load the given files and follow the algorithm shown in slide 13 of our Lab Session 5 to:

a) Compute the initialization step of Viterbi.

In [133]:
def initialize_viterbi(df_obs, df_trans, sent):
    tokens = sent.split()
    df = pd.DataFrame(index=df_trans.columns, columns=df_obs.columns)
    df_backpointer = pd.DataFrame(index=df_trans.columns, columns=df_obs.columns)
    for s in df_trans.columns:
        df.at[s, tokens[0]] = df_obs.at[s, tokens[0]] * df_trans.at['<s>', s]
        df_backpointer.at[s, tokens[0]] = 0
    df.set_index(df_obs.columns)
    return df, df_backpointer
viterbi_df, backpointer_df = initialize_viterbi(df_obs, df_trans, sentence)
display(viterbi_df, backpointer_df)

            I want   to race
VB          0  NaN  NaN  NaN
TO          0  NaN  NaN  NaN
NN          0  NaN  NaN  NaN
PPSS  0.02479  NaN  NaN  NaN

      I want   to race
VB    0  NaN  NaN  NaN
TO    0  NaN  NaN  NaN
NN    0  NaN  NaN  NaN
PPSS  0  NaN  NaN  NaN

b) Compute the recursion step of Viterbi.

In [139]:
def viterbi_rec(df, backpointer_df, df_obs, df_trans, sentence):
    tokens = sentence.split()
    for t in range(1, len(tokens)):
        for s in df_trans.columns:
            df.at[s, tokens[t]] = max(df[tokens[t-1]]) *  df_obs.at[s, tokens[t]] * df_trans.at[df[df[tokens[t-1]]==(df[tokens[t-1]].max())].index[0], s]
            backpointer_df.at[s, tokens[t]] = list(df[df[tokens[t-1]]==df[tokens[t-1]].max()].index)
    print(df.max())
    return df, backpointer_df
print(viterbi_rec(viterbi_df, backpointer_df, df_obs, df_trans, sentence))

I       2.479000e-02
want    5.302581e-05
to      1.837344e-06
race    1.829995e-10
dtype: float64
(            I         want           to         race
VB          0  5.30258e-05            0  1.82999e-10
TO          0            0  1.83734e-06            0
NN          0  1.60639e-09            0  4.92225e-13
PPSS  0.02479            0            0            0,       I    want    to  race
VB    0  [PPSS]  [VB]  [TO]
TO    0  [PPSS]  [VB]  [TO]
NN    0  [PPSS]  [VB]  [TO]
PPSS  0  [PPSS]  [VB]  [TO])

c) Compute termination step of Viterbi.